.formControl {
  margin: 10px;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
}

.campaign-select {
  min-width: 300px;
  margin-right: 50px;
}

.line-chart-div {
  display: inline-block;
  min-width: 600px;
}
.line-chart {
  width: 99%;
}

.components-div {
  margin: 20px;
  display: flex;
}
