.form-control {
  margin: 10px;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
}

.campaign-select {
  min-width: 300px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.line-chart-div {
  display: inline-block;
  min-width: 700px;
}

.components-div {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.root-campaigndetail {
  margin-top: 90px;
}
