.input-container {
  margin-bottom: 20px;
}
.inputfield-div {
  margin-top: 20px;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
}

.button-div {
  display: flex;
  padding: 0px 10px;
  justify-content: center;
}
.add-button {
  display: "block";

  width: 200px;
  margin-right: 10px;
}
.input {
  width: 50%;
}

.root-createcampaign {
  margin-top: 90px;
}
