.line-chart-div {
  min-width: 600px;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  flex-wrap: wrap;
}
.circ-progress {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
